doctype html
html
  head
    title= 'KHL'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - KHL
    a(href='/khlscorer') KHL Top Scorers
    a(href='/khlwinners') Gagarin Cup Winners
    block content
